<div class="examples-waitlist">
  <div class="header">
    <div
      class="block"
      style="
        background: url(block0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <img class="figma" src="figma0.svg" />
    </div>
    <div class="navigation-pill-list">
      <div class="navigation-pill">
        <div class="title">主页</div>
      </div>
    </div>
    <div class="button">
      <div class="div">登录</div>
    </div>
  </div>
  <div
    class="hero-newsletter"
    style="
      background: url(hero-newsletter0.png) center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="text-content-title">
      <div class="title2">打卡君</div>
      <div class="subtitle">一款功能多元、上手轻松的考勤利器</div>
    </div>
    <div class="button2">
      <div class="button3">
        <div class="button4">Get Started</div>
      </div>
    </div>
  </div>
  <div class="frame-3">
    <div class="component-1">
      <img class="info" src="info0.svg" />
      <div class="body">
        <div class="text">
          <div class="ai">可视化界面</div>
          <div class="div2">更加清晰直观的统计</div>
        </div>
        <div class="button-group"></div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="title3"></div>
    <img class="figma2" src="figma1.svg" />
    <div class="powered-by-2025">Powered By 打卡君 @2025</div>
    <div class="text-link-list">
      <div class="title4">
        <div class="text-strong">
          <div class="text-strong2">打卡君</div>
        </div>
      </div>
      <div class="text2">
        <div class="div3">帮助</div>
      </div>
      <div class="text3">
        <div class="div4">开发者介绍</div>
      </div>
      <div class="text-link-list-item">
        <div class="list-item"></div>
      </div>
    </div>
  </div>
  <div class="component-2">
    <img class="info2" src="info1.svg" />
    <div class="body2">
      <div class="text">
        <div class="ai">数据库操作</div>
        <div class="div5">简洁高效的管理</div>
      </div>
      <div class="button-group"></div>
    </div>
  </div>
  <div class="component-4">
    <img class="info3" src="info2.svg" />
    <div class="body">
      <div class="text">
        <div class="ai">Ai助手</div>
        <div class="div2">前所未有的便捷打卡体验</div>
      </div>
      <div class="button-group"></div>
    </div>
  </div>
  <div class="frame-2"></div>
  <div class="component-3">
    <img class="info4" src="info3.svg" />
    <div class="body2">
      <div class="text">
        <div class="ai">Ai助手</div>
        <div class="div5">前所未有的便捷打卡体验</div>
      </div>
      <div class="button-group"></div>
    </div>
  </div>
</div>
